.profile-picture {
  border-radius: 30px 50px 30px 5px;
  width: 200px;
}

.pages-list {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  list-style: none;
  margin-left: 0;
}

#cookie-notice {
  padding: 7px 15px;
  display: none;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #222;
  color: rgba(255,255,255,0.8);
}

#cookie-notice a {
  cursor: pointer;
  margin-left: 10px;
}

@media (max-width: 767px) {
  #cookie-notice span {
    display: block;
    padding-top: 3px;
    margin-bottom: 13px;
  }
  #cookie-notice a {
    position: relative;
    bottom: 4px;
  }
}